<!-- 输入框 -->
<div class="form-group">
  <input class="form-control" placeholder="请输入搜索" (keyup)="onKeyDown($event)" (focus)="isFocus=true" (blur)="isFocus = false" #input>
</div>
<section class="list-group">
  <!-- ActiveDescendantKeyManager要管理的item -->
  <app-user-item 
  *ngFor="let user of users | filter: 'name' : input.value; index as index" 
  role="tab"
  [tabindex]="index"
  [item]="user"
  [disabled]="user.disabled"
  class="list-group-item"
  (selectItem)="selectItem(index)"
  >
    {{user.name}}
  </app-user-item>
</section>

<p>{{model}}</p>