<nz-layout class="root-main">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo">CDK练习</div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li
        class="side-menu-item"
        nz-menu-item
        *ngFor="let item of appService.childMenus"
        [routerLink]="item.router"
        [routerLinkActive]="'active'"
        nz-tooltip
        nzPlacement="right"
        [nzTitle]="isCollapsed ? item.title : ''"
      >
        <i nz-icon [nzType]="item.icon"></i>
        <span>{{ item.title }}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout [style.marginLeft.px]="isCollapsed ? 80 : 200">
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <ul>
        <li *ngFor="let item of appService.routerList">
          <a
            [routerLink]="item.router"
            routerLinkActive
            #routerRef="routerLinkActive"
            [class.active]="appService.isLinkActive(routerRef, item)"
          >
            {{ item.title }}
          </a>
        </li>
      </ul>
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
