<section>
  <h2>FocusKeyManager</h2>
  <app-tabs></app-tabs>
</section>

<section>
  <h2>ActiveDescendantKeyManager</h2>
  <app-user-list></app-user-list>
</section>

<section>
  <h2>FocusTrap</h2>
  <app-cdk-trap-focus></app-cdk-trap-focus>
</section>

<section>
  <h2>interactivity checker</h2>
  <app-cdk-interactivity-checker></app-cdk-interactivity-checker>
</section>

<section>
  <h2>focus monitor</h2>
  <app-cdk-focus-monitor></app-cdk-focus-monitor>
</section>

<section>
  <h2>live announcer</h2>
  <app-cdk-live-announcer></app-cdk-live-announcer>
</section>
