<section>
  <h2>上下左右按钮切换</h2>
  <ul>
    <li 
      *ngFor="let item of tabList; let i = index;" 
      [class.active]="activeKey === i" 
      [class.disabled]="item.disabled"
      role="tab" 
      [tabindex]="i" 
      appTab
      [cDisabled]="item.disabled"
      (click)="setActiveItemKey(i)"
    >{{item.title}}</li>
  </ul>
</section>

<section>
  <h2> focus monitor</h2>
  <app-cdk-focus-monitor></app-cdk-focus-monitor>
</section>

<section>
  <h2>FocusTrap</h2>
  
  <app-cdk-trap-focus></app-cdk-trap-focus>
</section>

<section>
  <h2>interactivity checker</h2>
  <app-cdk-interactivity-checker></app-cdk-interactivity-checker>
</section>

<section>
  <h2>live announcer</h2>
  <app-cdk-live-announcer></app-cdk-live-announcer>
</section>

